
//header изменения
.header-contact {
	.sign-out{
		@extend %wite-btn;
		width: 300px;
		margin-bottom: 6px;
		span{
			margin-right: 35px;
		}
		i{
			margin-right: 0;
		}
	}
	.links{
		width: 247px;
		text-align: center;
		a{
			font: 1.6em $generalFont;
			text-decoration: underline;
			color: $colorHeaderNav;
			vertical-align: middle;
			&:hover{
				color: $generalcolorRed;
			}
			&:active{
				color: #c3c9cf;
			}
		}
		span{
			display: inline-block;
			margin: 0 5px;
			&:before{
				@extend %beforeStandartStyle;
				@include size (4px, 4px);
				background-color: $colorHeaderNav;
				border-radius: 50%;
			}
		}		
	}
}

//main category
.breadcrumb{
	background-color: #FFF;
	padding: 17px 0;
	margin-bottom: 0;
	li{
		font-size: 1.2em;
		font-family: $fontFamilySans;
		text-transform: uppercase;
		& + li:before{
			content: "";
			padding: 0;
		}
		i{
			color: #e3e5e9;
			font-size: 1.4em;
			&.fa-angle-right{
				margin: 0 14px;
				
			}
		}
	}
}
.title-category{
	margin-bottom: 20px;
	h5{
		background-color: $bodyColorService;
		@extend %title;
		padding: 28px;
	}
}

//фильтры 
.filter-settings{
	font: 1.2em $fontFamilySans;
	color: #000;
	.filter{
		background-color: $bodyColorTitle;
		width: 220px;
		padding: 11px 18px;
		text-transform: uppercase;
	}
	.sorting{
		background-color: $bodyColorTitle;
		width: 700px;
		padding: 11px 18px;
		text-transform: uppercase;
		position: relative;
		ul{
			position: absolute;
			right: 62px;
    		top: 11px;
			li{
				display: inline-block;
				padding: 0 35px;
				a{
					color: #dcdcdc;
					border-bottom: 1px dotted $generalcolorRed;
					&:hover{
						color: #000;
						border-bottom-style: solid;
					}
					&:active{
						color: $generalcolorRed;
						border-bottom-style: none;
					}
				}
			}
		}
		i{
			color: #c6c2bd;
			font-size: 1.8em;
			position: absolute;
			right: 9px;
			top: 5px;
			&.icon-up-dir{
				right: 40px;
				top: 5px;
			}
			&:hover{
				color: #000;
			}
			&:active{
				color: $generalcolorRed;
			}
		}
	}
	.accordion{
		.accordion-header{
			padding: 0;
			margin: 18px 9px 0 0;
			background-color: #FFF;
			display: block;
			line-height: 21px;
			@extend	%h6;
			text-transform: uppercase;
			font-size: 1.3em;
			cursor: pointer;
			i{
				display: block;
				font-size: 24px;
				&:hover{
					@extend .fa-rotate-180;
				}
			}	
		}
		.accordion-content{
			display: none;
		}
		.accordion-content{
			.price-slider{
				margin-top: 17px;
				padding-bottom: 0;
			}
			height: auto;
			width: 220px;
    		padding-bottom: 25px;
    		border-bottom: 1px solid #e5e5e5;
    		input[type="text"]{
    			background-color: $bodyColorTitle;
    			@include size (92px, 38px);
    			font: 1.6em $fontFamilySpan;
	    		color: #000;
	    		text-align: center;
	    		padding: 0;
	    		margin: 0;
	    		border: none;
	    		display: inline-block;
    		}
    		span{
    			outline: none;
    		}
    		.slider-wrap{
				@include size (220px, 80px);
				background-color: $bodyColorTitle;
				padding: 40px 20px;
				margin-bottom: 10px;				
			}
			#slider{
	   			margin-top: 0px;
	   			height: 2px;
	 		}
	    	.line{
	    		display: inline-block;
	    		&:before{
	    			@extend %beforeStandartStyle;
	    			@include size (15px, 1px);
	    			background-color: #6b6b6b;
	    			margin: 0 7px;
	    		}
	   		}
	   		.ui-slider{
	   			.ui-slider-handle {
	   			    width: 20px;
	    			height: 23px;
	   			    background-image: url("../img/circle.png");
	    		    background-position: 100% 100%;
	    		    border-radius: 50%;
	   			    top: -10px;
				}
  			} 
	   		.ui-widget-header{
	   			background: #00ca74;
	   			margin-top: 0;
	 			@include size (170px, 2px);				
			}
			.form-group{
				position: relative;
				padding-left: 30px;
				margin-top: 20px;
				margin-bottom: 0;
				label{
					@extend %label;
					&:before{
						background: url('../img/sprite-check.png') no-repeat;
						background-position: -0px -72px;
						width: 23px;
						height: 23px; 
						left: 0px;
					}
				}
				input[type="checkbox"]{
					@extend %input[type="checkbox"];
					&:checked + label{
						&:before{
							background: url('../img/sprite-check.png') no-repeat;
							background-position: -0px -0px;
							width: 27px; 
							height: 23px;
						}
					}
				}
				&.radio{
					position: relative;
					label{
						padding-left: 5px;
						&:before{
							background: url('../img/sprite-check.png') no-repeat;
							background-position: -0px -23px;
							width: 25px; 
							height: 24px;
							left: 0px;
						}
					}
					input[type="radio"]{
						@extend %input[type="radio"];
						&:checked + label{
							&:before{
								background: url('../img/sprite-check.png') no-repeat;
								background-position: -0px -47px;
								width: 25px;
								height: 25px; 
							}
						}
					}
				}
			}	
		}
	}
	.range{
		margin-top: 20px;
		h6 {
			font-size: 1.4em;
		}
		.hover-block .green-btn i{
			font-size: 1.4em;
		}
		.price-section {
    		margin-top: 9px;
		}
	}
	.paginations{
		@extend %paginations;
	}
}
.service-wrap{
	&.catalog{
		margin: 60px 0 6px 0;
		padding-top: 63px;
		p{
			@extend %span;
			line-height: 24px;
		}
	}
}

//modal window

#modal-catalog{
	@extend %modal_window;
	.modal-dialog{
		.modal-body{
			height: 170px;
			padding-top: 70px;
			text-align: center;
			background: url("../img/modal_window .png") no-repeat;
			background-position: 10% 50%; 
			p{
				@extend %h5;
				text-transform: none;
			}
		}
		.modal-footer{
			.btn{
				&.btn-default{
					background-color: #f1f1f1;
					color: #000;
					&:hover{
						background-color: #f1f1f1;
						color: #000;
						-webkit-box-shadow: none;
  						box-shadow: none;
					}
					&:active{
						background-color: #f1f1f1;
						color: #000;
						-webkit-box-shadow: none;
  						box-shadow: none;
					}
				}
			}
		}
	}
}
