
// стандартный размер шрифта
$generalFontSizeBody: 10px;
//стандартные шрифты
$generalFont: 'cuprumregular';
$fontFamilyTitle: 'cuprumbold';
$fontFamilyItalik: 'cuprumitalic';
$generalFontColor: #fff;
// цвет фона
$bodyColor: #f1f5f7;
$generalColorDarkBlue: #293449;
$generalcolorRed: #ee3643;
// цвет текста, кнопок, ссылок и т.д
$headerColorHover: #212a3a;
$headerColorActive: #161d29;
$colorRedHover: #ca2c37;
$colorRedActive: #ba2732;
$colorIkon: #7f838d;
$colorIkonActive: #a4a6a8;
$colorHeaderOrder: #63a63e;
$colorHeaderOrderHover: #5fbb2d;
$colorHeaderOrderActive: #518534;
$colorHeaderNav: #32425c;

// цвета для бордеров
// размеры стандартные
// бордер радиусы