
// стандартный размер шрифта
$generalFontSizeBody: 13px;
$generalFontSize: 17px;
$fontSizeH5: 24px;
//стандартные шрифты
$generalFont: 'cuprumregular';
$fontFamilyH5: 'cuprumbold';
$fontFamilyItalik: 'cuprumitalic';
$generalFontColor: #fff;
// цвет фона
$bodyColor: #f1f5f7;

// цвет текста, кнопок, ссылок и т.д
$headerColor: #293449;
$headerColorHover: #212a3a;
$headerColorActive: #161d29;
$colorRedStatic: #ee3643;
$colorRedHover: #ca2c37;
$colorRedActive: #ba2732;
$colorIkon: #7f838d;
$colorIkonActive: #a4a6a8;
$colorHeaderOrder: #63a63e;
$colorHeaderOrderHover: #5fbb2d;
$colorHeaderOrderActive: #518534;
$colorHeaderNav: #32425c;
// цвета для бордеров
// размеры стандартные
// бордер радиусы