.vertical-align {
	&:before {
		display: inline-block;
		content: '';
		height: 100%;
		vertical-align: middle;
		margin-left: -5px;
	}
	& > *{
		display: inline-block;
		vertical-align: middle;
	}
}

%beforeStandartStyle{
	content: "";
	display: inline-block;
}

%wite-btn{
	@include size(150px, 45px);
	background-color: #fff;
	text-align: center;
	font: 2.1em $generalFont;
	line-height: 40px;
}

%red-btn{
	@include size(195px, 38px);
	background-color: $generalcolorRed;
	text-align: center;
	font: 1.4em $generalFont;
	line-height: 38px;
	text-transform: uppercase;
	color: $generalFontColor;
	border-radius: 3px;
	&:hover{
		background-color: $colorRedHover;
	}
	&:active{
		background-color: $colorRedActive;
	}
}

%green-btn{
	@include size(134px, 38px);
	background-color: $colorBtnGreenStatic;
	text-align: center;
	font: 1.4em $generalFont;
	line-height: 38px;
	text-transform: uppercase;
	color: $generalFontColor;
	border-radius: 3px;
	border-bottom: 3px solid #367315;
}
%bookmark-btn{
	@include size(134px, 38px);
	text-align: center;
	font: 1.4em $generalFont;
	line-height: 38px;
	text-transform: uppercase;
	color: $colorHeaderNav;
	border-radius: 3px;
	border: 3px solid $colorBtnGreenStatic;
}

%logo{
	display: inline-block;
	width: 220px;
	background-color: $generalcolorRed;
	text-align: center;
	line-height: 41px;
	position: relative;
}
.contacts{
	span{
		color: $generalFontColor;
		font: 1.6em $generalFont;
	}
	a{
		span{
			color: #ffd180;
		}
	&:hover{
		span{
			text-decoration: underline;
		}
	}
	&:focus{
		span{
			color: $generalcolorRed;
		}
	}
	}
}

.orange-bg{
	background: $generalOrangBg !important;
}

.blue-bg{
	background: $generalBlueBg !important;
}

.pink-bg{
	background: $generalPinkBg !important;
}

.green-bg{
	background: $generalGreenBg !important;
}
%new-category{
	@include size (83px, 28px);
	background-color: $generalcolorRed;
	font: 1.6em $generalFont;
	color: $generalFontColor;
	text-align: center;
	line-height: 26px;
	position: absolute;
	top: 5px;
	right: -22px;
	transform: rotate(45deg);
}
%title{
	font-size: 3em;
	font-family: $generalFont;
	color: $colorHeaderNav;
	text-transform: uppercase;
}
%h6{
	font-size: 1.6em;
	color: #000;
	font-family: $fontFamilyH6;
}
%h5{
	font-size: 3em;
	color: #000;
	font-family: $generalFont;
	text-transform: uppercase;
}
%span{
	font: 1.3em $fontFamilySpan;
	color: #000;
	line-height: 24px;
}

%label{
	display: inline-block;
	font-size: 1.4em;
	font-weight: normal;
		&:before{
			@extend %beforeStandartStyle;
			position: absolute;
		}
}

%input[type="checkbox"], %input[type="radio"]{
	display: none;
	&:checked + label{
		&:before{
			@extend %beforeStandartStyle;
			position: absolute;
		}
	}
}

%delivery{
	@include size (700px, 287px);
	background: url("../img/delivery.png") no-repeat;
	background-position: 100% 100%;
}	
%garantee{
	@include size (700px, 287px);
	background: url("../img/garantee.png") no-repeat;
	background-position: 100% 100%;
}	
%credit{
	@include size (700px, 287px);
	background: url("../img/credit.png") no-repeat;
	background-position: 100% 100%;
}

%paginations{
	margin-top: 53px;
		li{
			display: inline-block;
			&.next{
				width: 140px;
			}
			a{
				@include size (38px, 38px);
				margin-right: 7px;
				display: inline-block;
				border-radius: 2px;
				border: 1px solid #e5e5e5;
				text-align: center;
				line-height: 38px;
				&.next{
					width: 140px;
				}
				&:hover{
					border: 1px solid #bdc6ca;
					color: #000;
				}
				&:active{
					border: 1px solid $generalcolorRed;
					color: #000;
				}	
				&:focus{
					border: none;
					background-color: $generalcolorRed;
					color: #fff;
				}	
			}	
		}
}

// модальное окно
%modal_window{
	@include size (620px, 282px);
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -141px;
	.modal-dialog{
		margin: 0;
		width: 620px;
		&:before{
			@extend %beforeStandartStyle;
			position: absolute;
			@include size (620px, 7px);
			background-color: $generalcolorRed;
			z-index: 3;
		}
		.modal-content{
			-webkit-box-shadow: none;
    		box-shadow: none;
    		border: none;
    		.modal-body{
				input[type="text"], textarea, select{
					border: 2px solid #d7dcde;
					font-size: 1.3em;
					font-family: $fontFamilySans;
					color: #999;
					border-radius: 2px;
				}
			}
			.modal-footer{
				height: 111px;
				background-color: #f1f1f1;
				border: none;
				padding: 34px 70px;
				.btn{
					width: 220px;
					padding: 0;
					border: none;
					outline: none;
					background-color: $generalcolorRed;
					text-align: center;
					font: 1.4em $generalFont;
					line-height: 38px;
					text-transform: uppercase;
					color: $generalFontColor;
					border-radius: 3px;
					&:hover{
						background-color: $colorRedHover;
					}
					&:active{
						background-color: $colorRedActive;
					}
				}
			}    
		}
	}
}