// header
-webkit-input-placeholder {color:#ffffff;}
-moz-placeholder          {color:#ffffff;}
-moz-placeholder          {color:#ffffff;}
-ms-input-placeholder     {color:#ffffff;}
.header-search{
	background-color: $generalColorDarkBlue;
	width: 100%;
	height: 41px;
	position: relative;
		&:hover{
			background-color:$headerColorHover;
		}
	.logo{
		@extend %logo;
		&:hover{
			background-color: $colorRedHover;
		}
		&:active{
			background-color: $colorRedActive;
		}
		&:before{
			@extend %beforeStandartStyle;
			@include size(220px, 5px);
			background-color: #b52933;
			position: absolute;
			top:41px;
			left: 0px;
			&:hover{
				background-color: #9a212a;
			}
			&:active{
				background-color: #8e1e26;
			}
		}
		span{
			color:$generalFontColor;
			font-size: 2.4em;
			font-family: $fontFamilyTitle;
		}
	}
	.search{
		padding-left: 17px;
		position: relative;
		button{
			position: absolute;
			top: 11px;
			background-color: transparent;
			font-size: 1.7em;
			i{
				color: #717681;
			}
			&:active{
				i{
					color:$colorIkonActive;
				}
			}
		}
		input[type="text"]{
			@include size(255px, 41px);
			display: inline-block;
			background-color: transparent;
			font-size: 1.7em;
			color: #000;
			padding-left: 32px;
			&:hover{
				background-color: $headerColorHover;
				&:hover+ button{
					i{
						color: #fff;
					}
				}
			}
			
			&:focus{
				background-color: #fff;
				&:focus+ button {
					i{
						color: $generalcolorRed;
					}
				}
			}
		}
	}
		
	.condition{
		@include size(149px, 41px);
		display: inline-block;
		line-height: 41px;
		font-size: 1.7em;
		padding-left: 17px;
			&:hover{
				i{
				color: #fff;
				}
			}
			&:active{
				background-color: $headerColorActive;
				i{
					color:$colorIkonActive;
				}
			}
		
		i{
			color: $colorIkon;
		}
		span {
			color: $generalFontColor;
			padding-left: 9px;
			span{
				padding-left: 3px;
			}
		}
		&.order{
			background-color: $colorHeaderOrder;
			line-height: 41px;
			width: 150px;
			&:hover{
				background-color: $colorHeaderOrderHover;
			}
			&:active{
				background-color: $colorHeaderOrderActive;
			}
			span{
				padding-left: 0;
			}
		}
	}
}
.header-contact{
	padding: 48px 0 60px 0;
	background-color: $bodyColor;
	.text{
		padding-left: 50px;
		span{
			color: $generalcolorRed;
			font: 1.6em/1.4em $fontFamilyItalik;
		}
	}
	.phone{
		@include size(220px, 45px);
		border: 2px solid #fff;
		padding-left: 15px;
		
		i{
			color: #b7bfc8;
			font-size: 2.1em;
		}
		span{
			color: #e9292a;
			font-size: 2.1em;
			padding-left: 10px;
		}
	}
	p{
		font-size: 16px;
		color: #32425c;
		padding: 5px 0 0 17px;
	}	
	.wite-btn{
		@extend %wite-btn;
		width: 140px;
		&:hover{
			span{
				color: $generalcolorRed;
			}
			i{
				color: $colorHeaderNav;
			}
		}
		&:active{
			span{
				color: #c9c9c9;
			} 		
			i{
				color: #c5c5c5;
			}
		}
		i{
			color: #c5c5c5;
			font-size: 1em;
			margin-right: 8px;
		}
		 span{
			margin-left: 4px;
		 }
		&.registration{
			@extend %wite-btn;
			padding-left: 0;
			span{
		 		padding-left: 0;
			}
		}
	}

	ul{
		width: 100%;
		height: 60px;
		background-color: $colorHeaderNav;
		border-bottom: 5px solid $generalColorDarkBlue;
		margin-top: 42px;
		text-align: center;

		li{
			display: inline-block;
			text-align: center;
			a{
				padding: 0 34px;
				display: inline-block;
				line-height: 55px;
				&:hover{
					background-color: $generalColorDarkBlue;
				}
				&:focus{
					background-color: #1d2739;
					span{
						color: #7a7e85;
					}
				}
				span{
					font: 1.7em $generalFont;
					color: $generalFontColor;
				}
			}
		}
	}
}
//footer
.footer-nav{
	background-color: $colorHeaderNav;
	width: 100%;
	padding-bottom: 50px;
	.logo{
		@extend %logo;
		line-height: 63px;
		&:before{
			@extend %beforeStandartStyle;
			@include size(220px, 5px);
			background-color: #b52933;
			position: absolute;
			top:64px;
			left: 0px;
			}
		span{
			color:$generalFontColor;
			font-size: 3em;
			font-family: $fontFamilyTitle;
		}
	}
	ul{
		width: 100%;
		border-bottom: none;
		margin: 24px 0 0 0;
		text-align: right;
		li{
			display: inline-block;
			a{
				line-height: 50px;
				padding: 0px 25px;
			&:hover{
				background: transparent;
			}
			&:focus{
				background: transparent;
				span{
					color: #8f97a3;
					
				}
			}
				span{
					font-size: 18px;
					color: #f1f5f7;
				&:hover{
					text-decoration: underline;
				}
				}
			}
		}
		
	}
	.text{
		margin-top: 19px;
		span{
			font: 1.8em/1.4em $generalFont;
			color: #f1f5f7;
		}
	}
	
	.stock{
		margin-top: 5px;
		span{
			color: #ffd180;
		}
		a{
		&:focus{
			span{
				color: #ab936f;
			}
		}
		}
	}
}
.footer-about-us{
	background-color: $generalColorDarkBlue;
	width: 100%;
	padding: 35px 0;
	span{
		color: $generalFontColor;
		font: 16px $generalFont;
	}
	.social{
		border-bottom: none;
		background-color: transparent;
		text-align: center;
		padding-right: 32px;
		li{
			display: inline-block;
			a{
				display: inline-block;
				width: 40px;
				height: 40px;
				color: #fff;
				font-size: 1.8em;
				line-height: 40px;
				border-radius: 50%;
				background-color: $headerColorHover;
				&:hover{
					background-color: $generalcolorRed;
				}
				&:focus{
					background-color: $generalcolorRed;
				}
			}
		}
	}
}
//main

// range style
.range{
	border: 1px solid #e5e5e5;
	height: 318px;
	padding: 5px 17px;
	text-align: center;
	overflow: hidden;
	position: relative;
	&:hover{
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
	 	.hover-block{
			opacity: 1;
		}
	}
	.range-img{
		height: 180px;
	}
	h6{
		@extend %h6;
	}	
	.price-section{
		margin-top: 5px;
		.old-price{
			@extend %h6;
			color: #999;
			text-decoration: line-through;
			display: block;
		}
		.price{
			@extend %h6;
			@include size(122px, 38px);
			line-height: 38px;
			text-align: center;
			display: inline-block;
			border-radius: 3px;
			background: $generalRedBg;
			color: #fff;
			position: relative;
				&:before{
					@extend %beforeStandartStyle;
					width: 0;
					height: 0;
					border: 19px solid transparent;
					border-left: 18px solid #ee3643;
					position: absolute;
					right: -36px;
					top: 0;
				}
			&.undiscounted{
				margin-top: 22px;
			}
		}
	}
	.new-category{
		@extend %new-category;
		width: 80px;
		right: -25px;
	}
	.hover-block{
		opacity: 0;
		@include size(100%, 180px);
		background-color: #FFF;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -50%;
		-webkit-transition: opacity .4s linear;
		-o-transition: opacity .4s linear;
		transition: opacity .4s linear;
		.green-btn{
			@extend %green-btn;
			margin: 45px 43px 7px;
			position: relative;
			i{
				position: absolute;
				font-size: 1.6em;
				color: #9bc388;
				top: 6px;
				left: 13px;
			}
			&:hover{
				background-color: $colorBtnGreenHover;
				i{
					color: $generalFontColor;
				}
			}
			&:active{
				background-color: $colorBtnGreenActive;
				border: none;
				i{
					color: $generalFontColor;
				}
			}
		}
		.bookmark-btn{
			@extend %bookmark-btn;
			margin-right: 41px;
			&:hover{
				border-color: $colorHeaderNav;
			}
			&:active{
				opacity: 0.3;				
			}
		}
	}	
}
