/*GENERAL RESET START*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
*{
	:focus::-webkit-input-placeholder {color: transparent}
	:focus::-moz-placeholder          {color: transparent}
	:focus:-moz-placeholder           {color: transparent}
	:focus:-ms-input-placeholder      {color: transparent}
}

body{
	background: #fff;
	margin: 0 auto;
	font: $generalFontSizeBody/1 $generalFont, arial, helvetica, sans-serif;
	width: 960px;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover,
a:focus,
a:active,
a:visited{
	text-decoration: none;
}
ul, ol{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
img{
	border: none;
}
input,textarea,button{
	outline: none;
	border: 0;
	padding: 0;
}
textarea{
	resize: vertical;
}
input[type="submit"],button{
	cursor: pointer;
}
/*GENERAL RESET END*/